@import "tailwindcss";
@plugin "daisyui" {
  themes: cupcake --default, pastel, garden, lemonade, winter, halloween, caramellatte, coffee;
}

.window-drag {
  -webkit-app-region: drag;
  app-region: drag;
}

.window-no-drag,
button,
input,
summary,
select,
textarea {
  -webkit-app-region: no-drag;
  app-region: no-drag;
}
